---
---
{% include head.html %}
{% include header.html %}
<div class="container">
    {{ content }}
    {% include collapse-script.html %}
    {% if page.show_script_switch %}
    <script>
        /*切换"纯拉丁"和"汉拉混写"*/
        var switch_ws = document.getElementById("switch_ws");
        var ctx_rc1_0 = document.getElementsByClassName("ctx_rc1");
        var ctx_roh_0 = document.getElementsByClassName("ctx_roh");
        console.log("ctx_rc1_0.length = " + ctx_rc1_0.length);
        console.log("ctx_roh_0.length = " + ctx_roh_0.length);
        switch_ws.onclick = function() {
            if (switch_ws.innerHTML == "RC1") {
                switch_ws.style.background = "#008080";
                switch_ws.style.color = "#0f0";
                switch_ws.innerHTML = "ROH"
                switch_ws.title = "羅馬字 ondina 漢字 (ROH)"
                for (let i = 0; i < ctx_rc1_0.length; i++) {
                    let ctx_rc1 = ctx_rc1_0[i];
                    let ctx_roh = ctx_roh_0[i];
                    ctx_rc1.style.display = "none";
                    ctx_roh.style.display = "block";
                }
            } else {
                switch_ws.style.background = "#0f0";
                switch_ws.style.color = "#008080";
                switch_ws.innerHTML = "RC1"
                switch_ws.title = "Rya Romacha Chueh (RC1)"
                for (let i = 0; i < ctx_roh_0.length; i++) {
                    let ctx_rc1 = ctx_rc1_0[i];
                    let ctx_roh = ctx_roh_0[i];
                    ctx_roh.style.display = "none";
                    ctx_rc1.style.display = "block";
                }
            }
        }
    </script>
    {% endif %}
</div>
{% include footer.html %}
